.card {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &--rating {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 32px;
      margin-bottom: 30px;
    }
    &--catalog {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 32px 33px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 38px 30px 30px;
    position: relative;
    border-radius: 10px;
    background: $gray-light;

    &--rating {
      width: 100%;
      min-height: 420px;
      position: relative;
      padding: 35px 10px 30px;
    }
  }

  &__discont {
    position: absolute;
    top: 30px;
    left: 0;
    padding: 9px 0 11px;
    max-width: 82px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-align: center;
    color: $white;
    background: $secondary;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -29px;
      border: 17px solid transparent;
      border-left: 12px solid $secondary;
    }
  }

  &__rating {
    position: absolute;
    top: 30px;
    left: 0;
    width: 82px;
    padding-left: 52px;
    color: $secondary;
    font-size: 16px;

    &::before {
      content: "";
      position: absolute;
      top: 1px;
      left: -3px;
      height: 15px;
      width: 100%;
      background: url('../images/sprite.svg#star') 100% no-repeat;
    }

  }

  &__picture {
    display: flex;
    align-items: flex-end;
    align-self: center;
    justify-content: center;
    margin-bottom: 15px;
    max-height: 245px;
    height: 100%;

    &--rating {
      height: 154px;
      max-width: 255px;
      width: 100%;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__discription {
    padding: 0 20px;
  }

  &__title {
    color: $black;
    margin-bottom: 20px;
    max-width: 222px;
    font-weight: 400;
    font-size: 24px;
    padding: 0;
    line-height: 32px;

    &--rating {
      max-width: 100%;
      margin-bottom: 24px;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;

    &-new {
      color: $secondary;
      font-size: 18px;
      font-weight: 400;
      line-height: 23px;
      margin-right: 30px;
    }

    &-old {
      color: $gray;
      font-size: 16px;
      line-height: 23px;
      margin-right: auto;
      text-decoration-line: line-through;
    }

    &-rating {
      color: $gray-shade;
      margin-bottom: 2px;
    }

    &-modification {
      margin-bottom: 26px;
    }

    &-catalog {
      margin-bottom: 24px;
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@media (max-width: $table-h) {
  .card {
    &__list {
      &--rating {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 31px;
      }
    }

    &__rating {
      top: 31px;
    }

    &__discont {
      top: 30px;
      padding: 10px 0;
      &:after {
        content: '';
        right: -27px;
        border: 17px solid transparent;
        border-left: 10px solid $secondary;
      }
    }

    &__left {
      padding: 0 10px;
    }

    &__right {
      display: none;
    }

    &__picture {
      align-items: center;
      margin-bottom: 14px;

      &--rating {
        align-items: flex-end;
        margin-bottom: 17px;
      }
    }
    &__title {
      &--rating {
        margin-bottom: 23px;
      }
    }
    &__price {
      &-modification {
        margin-bottom: 21px;
      }
      &-catalog {
        margin-bottom: 22px;
      }
    }
  }
}

@media (max-width: $table) {
  .card {
    &__list {
      &--catalog {
        grid-template-columns: repeat(2, 1fr);
      }
      &--rating {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;
        margin-bottom: 30px;
      }
    }

    &__rating {
      top: 33px;
    }

    &__item {
      &--rating {
        min-height: 420px;
        padding-top: 38px;
      }
    }

    &__picture {
      margin-bottom: 12px;

      &--rating {
        margin-bottom: 17px;
        height: 151px;
      }
    }
    &__title {
      line-height: 30px;
      margin-bottom: 22px;
      &--rating {
        margin-bottom: 25px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .card {
    &__list {
      &--rating {
        grid-gap: 16px 16px;
        margin-bottom: 32px;
      }
      &--catalog {
        grid-gap: 16px 16px;
      }
    }

    &__item {
      &--rating {
        min-height: 270px;
        padding: 16px;
      }
    }

    &__rating {
      font-size: 14px;
      top: 17px;
      padding-left: 33px;

      &::before {
        top: -1px;
        left: -19px;
      }
    }

    &__picture {
      margin-bottom: 12px;
      &--rating {
        height: max(22vw, 70px);
        margin-bottom: 20px;
      }
    }

    &__discription {
      padding: 0;
    }

    &__title {
      line-height: 31px;
      &--rating {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 17px;
      }
    }

    &__price {
      &-modification {
        margin-bottom: 15px;
      }
      &-catalog {
        margin-bottom: 15px;
      }
    }

    &__btn {
      &--rating {
        padding: 10px;
      }
      &-card {
        padding: 10px;
      }
    }
  }
}
