footer.footer
  .footer__container.container
    a.footer__logo(href="#")
      img.footer__img(src="images/sprite.svg#logo")
    ul.footer__social.social
      li.social__item
        a.social__link
          svg.social__icon
            use( xlink:href="images/sprite.svg#fb" )
      li.social__item
        a.social__link
          svg.social__icon
            use( xlink:href="images/sprite.svg#vk" )
      li.social__item
        a.social__link
          svg.social__icon
            use( xlink:href="images/sprite.svg#instagram" )
    nav.footer__nav.nav
      ul.nav__list
        li.nav__item О нас
        li.nav__item
          a.nav__link О компании
        li.nav__item
          a.nav__link Блог
      ul.nav__list
        li.nav__item Услуги
        li.nav__item
          a.nav__link Доставка
        li.nav__item
          a.nav__link Рассрочка и кредит
        li.nav__item
          a.nav__link Сборка и установка
      ul.nav__list
        li.nav__item Связь с нами
        li.nav__item
          a.nav__link Обратная связь
        li.nav__item
          a.nav__link Контакты
      ul.nav__list
        li.nav__item Сотрудничество
        li.nav__item
          a.nav__link Поставщикам
        li.nav__item
          a.nav__link Оптовикам
        li.nav__item
          a.nav__link Карьера
