header.header
  div.header__top
    div.container.header__container
      div.header__contact
        p.header__text Ваш регион:
        a.header__city(href="#") Москва
        a.header__phone(href="tel:+74958854547") +7 (495) 885-45-47
      nav.header__navigation
        ul.header__list.reset-list
          li.header__item
            a.header__link(href="#") О компании
          li.header__item
            a.header__link(href="#") Гарантия и возврат
          li.header__item
            a.header__link(href="#") Корпоративным клиентам
          li.header__item
            a.header__link(href="#") Дизайн-решение
  div.header__bottom
    div.container.header__container
      a.header__link-home(href="/")
        img.header__logo(src="./images/sprite.svg#logo", alt="Лого")
      nav.header__navigation
        ul.header__list.reset-list
          li.header__item
            a.header__link Каталог
          li.header__item
            a.header__link Магазины
          li.header__item
            a.header__link Шоу-рум
          li.header__item
            a.header__link Доставка и оплата
          li.header__item
            a.header__link Дисконт
          li.header__item
            a.header__link Контакты
