header.header
  .container
    .header__wrap
      .header__region
        span.header__text Ваш регион:
        select.header__select
          option(value="Москва" selected="selected") Москва
          option(value="Казань") Казань
          option( value="Уфа") Уфа
          option( value="Пермь") Пермь
      a.header__phone.phone(href="tel:+74958854547" aria-label="Позвонить по телефону")
        svg.phone__icon( width="20" height="20" )
          use( xlink:href="images/sprite.svg#phoneHeader" )
        |  +7 (495) 885-45-47
      nav.header__top--menu.top--menu
        ul.top--menu__list
          li.top--menu__item
            a.top--menu__link(href="#") О компании
          li.top--menu__item
            a.top--menu__link(href="#") Гарантия и возврат
          li.top--menu__item
            a.top--menu__link(href="#") Корпоративным клиентам
          li.top--menu__item
            a.top--menu__link(href="#") Дизайн-решение
      a.header__logo(href="#")
        img.header__img(src="images/sprite.svg#logo" alt="Логотип - Интернет магазина")
      button.header__burger--menu.burger--menu
        span.burger--menu__icon
      nav.header__bottom--menu.bottom--menu
        ul.bottom--menu__list
          li.bottom--menu__item
            a.bottom--menu__link(href="#") Каталог
          li.bottom--menu__item
            a.bottom--menu__link(href="#") Магазины
          li.bottom--menu__item
            a.bottom--menu__link(href="#") Шоу-рум
          li.bottom--menu__item
            a.bottom--menu__link(href="#") Доставка и оплата
          li.bottom--menu__item
            a.bottom--menu__link(href="#") Дисконт
          li.bottom--menu__item
            a.bottom--menu__link(href="#") Контакты
      .header__forms
        form.header__form
          svg.header__icon(width="20" height="20")
            use( xlink:href="images/sprite.svg#search" )
          input.header__search(type="text" placeholder="Я хочу купить..." aria-label="Введите запрос")
          button.header__btn-search(aria-label="Поиск")
            span.header__btn-right
        select.header__filter.filter
          option(value="Категория" selected="selected") Категория
          option(value="Диваны") Диваны
          option(value="Кресла") Кресла
          option(value="Пуфы") Пуфы
          option(value="Кровати") Кровати
          option(value="Тумбы") Тумбы
          option(value="Комоды") Комоды
          option(value="Стулья") Стулья
          option(value="Столы") Столы
          option(value="Аксессуары") Аксессуары
      .header__btn
        button.header__profile(aria-label="Кнопка профиля")
          svg.header__user
            use( xlink:href="images/sprite.svg#profile" )
        button.header__cart(aria-label="Корзина")
          span.header__cart-sum 0
          svg.header__cart-icon
            use( xlink:href="images/sprite.svg#cart" )


