.attribute {
  &__name {
    color: $gray;
    font-size: 14px;
  }
  &__dotted {
    flex-grow: 2;
    border-bottom: 1px dotted $gray;
    margin: 0 5px;
    transform: translateY(-2px);
  }
  &__value {
    max-width: 296px;
    min-width: 216px;
    width: 48vw;
    font-size: 14px;
  }
}

@media (max-width: $table-h) {
  .attribute {
    &__value {
      max-width: 217px;
    }
  }
}
