.catalog {
  &__container {
    display: grid;
    grid-template-columns: 297px 1fr;
    grid-gap: 0 32px;
  }
  &__title {
    font-size: 24px;
    margin-bottom: 22px;
  }
  &__filter {
    margin-bottom: 88px;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
