.contact {
  margin-bottom: 72px;
  &__container {
    background: url('../images/contact-background.png') right 2% center no-repeat;
  }
  &__title {
    margin-bottom: 9px;
  }
  &__description {
    margin-bottom: 14px;
    padding: 0;
    max-width: 585px;
    font-size: 14px;
    line-height: 19px;
    color: $gray-shade;
  }
  &__tooltip {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    border: none;
    position: relative;
    background: transparent;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    &-icon {
      fill: $secondary;
    }
    &:hover,
    &:active,
    &:focus {
      .tooltip {
        display: none;
        &-hover {
          display: block;
        }
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    max-width: 625px;
    &-item {
      position: relative;
      margin-bottom: 30px;
    }
  }
  &__input {
    border: 1px solid transparent;
    @include br10;
    padding: 6px 17px;
    background: $gray-light;
    font-size: 16px;
    line-height: 40px;
    width: 100%;
    outline: none;
    transition: border $transition, background $transition;
    &:hover {
      background-color: $md-gray;
    }
    &:focus {
      border-color: $primary;
      background-color: $white-light;
    }
  }
  &__btn {
    max-width: 159px;
    padding: 16px 0;
    margin-bottom: 13px;
  }
  &__label {
    font-size: 14px;
  }
  &__link {
    text-decoration: underline;
    padding-left: 4px;
  }
}

.tooltip {
  transition: display $transition;
  &-hover {
    display: none;
    transition: display $transition;
  }
}

.tippy {
  &-box {
    border-radius: 0;
  }
  &-content {
    font-size: 9px;
    line-height: 14px;
    padding: 5px;
    text-align: center;
  }
}

.js {
  &-validate-error {
    &-label {
      position: absolute;
      top: -20px;
      left: 20px;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $red !important;
    }

    &-field {
      border: 1px solid $red !important;
      color: $black !important
    }
  }
  &-success {
    border-color: $green;
  }
}

@media (max-width: $table-h) {
  .contact {
    &__container {
      background: url('../images/contact-background-1024.png') right 7% center no-repeat;
    }
    &__description {
      max-width: 406px;
      margin-bottom: 16px;
    }
    &__form {
      max-width: 400px;
    }
  }
}

@media (max-width: $table) {
  .contact {
    &__container {
      background: url("../images/contact-background-768.png") right 13% center no-repeat;
      background-size: 24%;
    }
    &__form {
      max-width: 405px;
    }
  }
}

@media (max-width: $table) {
  .contact {
    &__container {
      background: none;
    }
  }
}

@media (max-width: $mobile) {
  .contact {
    margin-bottom: 70px;
    &__description {
      margin-bottom: 15px;
    }
    &__btn {
      padding: 16px 0 15px;
    }
    &__label {
      padding-top: 2px;
      font-size: 12px;
    }
  }
}
