.filter {
  &__title {
    margin-bottom: 23px;

    &--long {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 22px;
    }

    &--short {
      display: none;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__param {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__name {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    font-weight: 600;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }

  &__category {

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  &__options {
    &-price {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-top: -5px;
      width: 100%;
      margin-bottom: 11px;
    }
  }

  &__range {
    &-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      line-height: 1.3;
      color: $gray-shade;
    }

    &-text {
      padding-right: 10px;
    }

    &-input {
      width: 86px;
      padding: 2px 11px;
      font-size: 16px;
      line-height: 1;
      color: $gray-shade;
      border: 1px solid $gray;
      border-radius: 2px;
    }

    &-slider {
      height: 3px;
      background-color: $md-gray;
      border: none;
      margin-bottom: 38px;
    }
  }
}

@media (max-width: $table-h) {
  .filter {
    display: flex;
    align-items: center;
    padding-top: 0;
    margin-bottom: 17px;

    &__title {
      margin-right: 43px;
      margin-bottom: 0;

      &--long {
        display: none;
      }

      &--short {
        display: block;
      }
    }

    &__list {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__param {
      position: relative;
      margin-bottom: 0;

      &.is-active {
        .filter {
          &__name {
            &:before {
              transform: rotate(225deg);
              margin: 0;
            }
          }

          &__category-list,
          &__options {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    &__name {
      background-color: $gray-light;
      border-radius: 10px;
      max-width: 187px;
      padding: 5px 14px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-width: 187px;
      min-height: 40px;
      border: 1px solid transparent;
      position: relative;
      z-index: 3;
      margin-bottom: 0;

      &:before {
        content: '';
        border-right: 1px solid $primary;
        border-bottom: 1px solid $primary;
        position: absolute;
        right: 15px;
        transform: rotate(45deg);
        width: 9px;
        height: 9px;
        top: 50%;
        margin-top: -9px;
        transition: transform $transition, margin $transition;
      }
    }

    &__category-list,
    &__options {
      position: absolute;
      top: 30px;
      left: 0;
      width: 100%;
      background-color: $white;
      border: 1px solid $md-gray;
      border-radius: 0 0 10px 10px;
      padding: 30px 20px 30px 30px;
      z-index: 2;
      visibility: hidden;
      opacity: 0;
      transition: opacity $transition, opacity $transition;
    }

    &__options-price {
      flex-direction: column;
    }

    &__range {
      &-slider {
        display: none;
      }

      &-label {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: $table) {
  .filter {
    flex-direction: column;
    align-items: flex-start;
    &__title {
      padding: 11px 0;
      margin-bottom: 6px;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(2, minmax(140px, 187px));
      grid-template-rows: 40px 40px;
      column-gap: 32px;
      row-gap: 16px;
      justify-content: start;
    }
  }
}
