.filter {
  padding-top: 3px;

  &__title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 22px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__param {
    margin-bottom: 30px;
  }

  &__name {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    font-weight: 600;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }

  &__category {

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
  &__options {
    &-price {
      display: flex;
    }
  }
  &__range {
    &-text {
      display: flex;
      width: 50%;
    }
    &-input {
      width: 100%;
    }
  }
}
