.header {
  position: relative;
  padding-top: 15px;
  padding-bottom: 17px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 50px;
    background: $gray-light;
  }

  &__wrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px 30px;
    align-items: center;
  }

  &__region {
    display: flex;
    grid-column-end: 2 span;
    align-items: center;
    justify-content: space-between;

    .choices[data-type*=select-one] {
      width: 48%;
    }
  }

  &__phone {
    position: relative;
    grid-column-end: 2 span;
    align-self: baseline;
    font-size: 14px;
    line-height: 100%;
    color: $secondary;
    outline: none;
    transition: color $transition;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 1px;
      z-index: -1;
      width: 101%;
      height: 105%;
      background: $bone;
      opacity: 0;
      transition: opacity $transition;
    }

    &:focus {
      &::after {
        opacity: 1;
      }
    }

    &:hover {
      color: $gold-light;

      .phone__icon {
        fill: $gold-light;
      }
    }

    &:active {
      color: $shade;

      .phone__icon {
        fill: $shade;
      }
    }
  }

  &__menu-top {
    grid-column-start: 6;
    grid-column-end: 7 span;
    align-self: flex-start;
    justify-self: flex-end;
    width: 100%;
    max-width: 710px;
  }

  &__logo {
    grid-column-end: 2 span;
    padding-top: 10px;
    outline: none;
  }

  &__bottom-menu {
    grid-column-start: 4;
    grid-column-end: 9 span;
    justify-self: flex-end;
    padding-top: 10px;
    width: 100%;
  }

  &__forms {
    position: relative;
    display: grid;
    grid-column-end: 10 span;
    grid-template-columns: 72% 28%;
  }

  &__form {
    &:hover {
      .header__search {
        background: $md-gray;
      }
    }
  }

  &__icon {
    position: absolute;
    left: 32px;
    top: 33%;
    z-index: 1;
    fill: $gray;
    outline: none;
    transition: fill $transition;
  }

  &__search {
    position: relative;
    padding: 16px 32px 16px 56px;
    outline: none;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 10px 0 0 10px;
    background: $gray-light;
    transition: background $transition, border $transition;
    &:focus {
      border-color: $primary;
    }
  }

  &__btn {
    grid-column-end: 2 span;
    justify-self: flex-end;

    &-search {
      padding: 0;
      background: transparent;
      cursor: pointer;
      position: absolute;
      right: 31.3%;
      top: 50%;
      margin-top: -17px;
      outline: none;

      width: 32px;
      height: 32px;
      border: 2px solid $primary;
      border-radius: 50%;
      transition: border $transition, background $transition;
      transition: border $transition, background $transition;
      &:hover {
        background: $primary;
        .header__btn-right::before {
          border-color: $white;
        }
      }
      &:focus {
        background: $primary-light;
        .header__btn-right::before {
          border-color: $white;
        }
      }
      &:active {
        background: $primary-shade;
        border-color: $primary-shade;
        .header__btn-right::before {
          border-color: $white;
        }
      }
    }

    &-right {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        top: -4px;
        right: -2px;
        border-left: 2px solid $primary;
        border-bottom: 2px solid $primary;
        transform: rotate(-135deg);
        transition: border $transition;
      }
    }
  }

  &__profile,
  &__cart {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
    position: relative;
    outline: none;

    &:hover {
      .header {
        &__user,
        &__cart-icon {
          fill: $primary-light;
        }
      }
    }

    &:active {
      .header {
        &__user,
        &__cart-icon {
          fill: $primary-shade;
        }
      }
    }

    &:focus {
      &:after {
        opacity: 1;
      }

      .header {
        &__user,
        &__cart-icon {
          fill: $white;
        }
      }
    }
  }

  &__profile {
    margin-right: 37px;

    &::after {
      content: '';
      position: absolute;
      top: -4px;
      bottom: -4px;
      left: -4px;
      right: -4px;
      z-index: -1;
      background: $primary-light;
      opacity: 0;
      transition: opacity $transition;
    }
  }

  &__cart {
    &::after {
      content: '';
      position: absolute;
      top: -4px;
      bottom: -4px;
      right: -4px;
      left: -13px;
      z-index: -1;
      background: $primary-light;
      opacity: 0;
      transition: opacity $transition;
    }
  }

  &__user,
  &__cart-icon {
    fill: $primary;
    height: 28px;
    transition: fill $transition;

  }

  &__user {
    width: 28px;
  }

  &__cart {
    &-sum {
      position: absolute;
      background: $secondary;
      top: 6px;
      left: -11px;
      padding: 2px 4px;
      border-radius: 50px;
      font-size: 10px;
      line-height: 10px;
      align-items: center;
      color: $white;
    }

    &-icon {
      width: 30px;
    }
  }
}

.menu-top {
  &__list {
    @include listReset;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 1;


  }
}

.phone {
  display: flex;
  align-items: center;
  margin-left: -9px;
  width: max-content;

  &__icon {
    fill: $secondary;
    transition: fill $transition;
  }
}

.burger-menu {
  position: relative;
  z-index: 10;
  border: none;
  color: $black;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
  width: 24px;
  height: 24px;
  outline: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $primary;
    transition: transform $transition, top $transition;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $primary;
    transition: transform $transition, bottom $transition;
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 3px;
    background: $primary;
    transform: translateY(-50%);
    transition: transform $transition;
  }
  &.active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform $transition, top $transition;
    }
    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform $transition, top $transition;
    }
    .burger-menu {
      &__icon {
        transform: scale(0);
        transition: transform $transition;
      }
    }
  }
}

.bottom-menu {
  &__list {
    @include listReset;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    position: relative;
    font-size: 16px;
    line-height: 1;
    color: $black;
    outline: none;

    transition: color $transition;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -10px;
      right: -10px;
      z-index: -1;
      height: 105%;
      background: $white-shade;
      opacity: 0;
      transition: opacity $transition;
    }

    &:hover {
      color: $primary;
    }

    &:active {
      color: $primary-shade;
    }

    &:focus {
      &:after {
        opacity: 1;
      }
    }
  }
}

@media (max-width: $table-h) {
  .header {
    padding-top: 17px;
    padding-bottom: 15px;

    &::after {
      top: 58px;
    }

    &__wrap {
      grid-template-columns: repeat(9, 1fr);
      grid-gap: 27px 30px;
    }

    &__region {
      grid-column-end: 4 span;
      justify-content: flex-start;

      .choices[data-type*=select-one] {
        width: 19%;
        min-width: 88px;
      }
    }

    &__phone {
      grid-column-end: 5 span;
      justify-self: flex-end;

      &::after {
        width: 100%;
      }
    }

    &__menu-top {
      grid-column-start: 1;
      grid-column-end: 7 span;
      justify-self: flex-start;
      order: 3;
      padding-top: 4px;
    }

    &__logo {
      grid-column-start: 1;
      grid-column-end: 2 span;
      order: 5;
      padding-top: 12px;
    }

    &__bottom-menu {
      grid-column-start: 3;
      grid-column-end: 7 span;
      order: 6;
      padding-top: 8px;
      max-width: 700px;
    }

    &__forms {
      grid-column-end: 9 span;
      grid-template-columns: 68.4% 31.6%;
      order: 7;
    }

    &__search {
      padding-top: 19px;
    }

    &__btn {
      grid-column-start: 8;
      grid-column-end: 2 span;
      order: 4;

      &-search {
        right: 34.9%;
        margin-top: -15px;
      }
    }
  }
}

@media (max-width: $table) {
  .header {
    padding-bottom: 14px;

    &__wrap {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 27px 30px;
    }

    &__region {
      grid-column-start: 1;
      grid-column-end: 3 span;
      order: 1;
    }

    &__phone {
      grid-column-start: 4;
      grid-column-end: 3 span;
      order: 2;
    }

    &__menu-top {
      grid-column-start: 1;
      grid-column-end: 6 span;
      order: 3;
      justify-self: auto;
      margin-bottom: 17px;
    }

    &__logo {
      grid-column-start: 3;
      grid-column-end: 2 span;
      order: 5;
      padding-top: 5px;
    }

    &__burger--menu {
      grid-column-start: 1;
      grid-column-end: 1 span;
      order: 4;
    }

    &__bottom-menu {
      position: absolute;
      top: 108px;
      left: 0;
      z-index: 9;
      width: 100%;
      max-width: 100%;
      height: 300px;
      background: $white;
      background-image: url("../images/elephant-grey.svg");
      background-repeat: no-repeat;
      background-position: right 72px top 129px;
      opacity: 0;
      visibility: hidden;
      transition: opacity $transition, visibility $transition;
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
    &__btn {
      grid-column-start: 5;
      grid-column-end: 2 span;
      order: 6;
      margin-top: 3px;
      &-search {
        right: 35.4%;
      }
    }
    &__forms {
      grid-column-start: 1;
      grid-column-end: 6 span;
      grid-template-columns: 70% 30%;
      order: 7;
    }
  }
  .menu-top {
    &__item {
      &:not(:last-child) {
        margin-right: auto;
      }
    }
  }
  .burger-menu {
    display: block;
    grid-column-start: 1;
    order: 4;
  }
  .bottom-menu {
    &__list {
      flex-wrap: wrap;
      -moz-column-gap: 64px;
      column-gap: 64px;
      height: 100%;
      flex-direction: column;
      align-content: flex-start;
      gap: 41px 54px;
      position: relative;
      padding: 87px 72px 60px;
    }
  }
}

@media (max-width: $table-m) {
  .header {
    padding-top: 15px;
    &::after {
      top: 0;
      height: 50px;
    }
    &__menu-top {
      display: none;
    }
    &__bottom-menu {
      top: 128px;
    }
    &__forms {
      grid-template-rows: 1fr;
      grid-auto-rows: 1fr;
      grid-template-columns: 1fr;
    }
    &__form {
      position: relative;
      margin-bottom: 15px;
    }
    &__search {
      @include br10;
    }
  }
}

@media (max-width: $table-m) {
  .header {
    &__bottom-menu {
      background-image: none;
      &.active {
        height: auto;
        max-height: none;
      }
    }
  }

  .burger-menu {
    margin-left: 5px;
    margin-bottom: 11px;
  }
  .bottom-menu {
    &__list {
      flex-wrap: nowrap;
      max-height: 100%;
      padding: 26px 12px;
    }
    &__item {
      &:not(:last-child) {
        margin: 0;
      }
    }
  }
}

@media (max-width: $mobile) {
  .header {
    padding-top: 9px;
    padding-bottom: 5px;
    &::after {
      top: 0;
      height: 50px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 143px;
      z-index: -10;
      width: 100%;
      height: 50px;
      border-top: 1px solid $gray-light;
      border-bottom: 1px solid $gray-light;
    }

    &__wrap {
      grid-gap: 15px 30px;
    }

    &__region {
      grid-column-start: 1;
      grid-column-end: 6 span;
      order: 2;
    }

    &__phone {
      grid-column-start: 1;
      grid-column-end: 6 span;
      justify-self: start;
      order: 3;
    }
    &__logo {
      grid-column-start: 1;
      grid-column-end: 6 span;
      justify-self: center;
      order: 1;
      margin-bottom: 11px;
      padding: 0;
    }
    &__img {
      max-width: 187px;
      width: 100%;
    }

    &__bottom-menu {
      top: 144px;
    }

    &__btn {
      grid-column-start: 4;
      grid-column-end: 3 span;
      margin-bottom: 10px;
      &-search {
        margin-top: -17px;
        right: 10.8%;
      }
    }
    &__search {
      padding-top: 17px;
      padding-bottom: 16px;
    }
    &__profile {
      margin-right: 38px;
    }
  }
  .phone {
    margin: 0 0 10px;
  }
  .bottom-menu {
    &__list {
      padding-top: 56px;
      padding-bottom: 42px;
      height: 417px;
      gap: 45px;
    }
  }
}
