.header {
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
  }
  &__top {
    background-color: $gray-light;
  }
  &__contact,
  &__list {
    display: flex;
    align-items: center;
  }
  &__contact {
    width: 100%;
    max-width: 350px;
    justify-content: space-between;
    &-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 183px;
      width: 100%;
    }
  }
  &__text {
    font-size: 16px;
    margin-right: 4px;
    letter-spacing: 0.5px;
  }
  &__navigation {
    max-width: 710px;
    width: 100%;
  }
  &__list {
    justify-content: space-between;
    letter-spacing: 0.5px;
  }
  &__item {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    text-decoration: none;
    color: $gray;
    font-size: 14px;
    line-height: 14px;
  }
  &__link-home {
    width: 187px;
  }
  &__phone {
    text-decoration: none;
    color: $secondary;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    &-icon {
      width: 18px;
      height: 18px;
      object-fit: cover;
      margin-right: 2px;
      fill: $secondary;
    }
    &:hover {
      color: $shade;
      .header__phone-icon path {
        fill: $shade
      }
    }
  }
}
