.oferta {
  margin-bottom: 70px;
  &__container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 32px;
  }
  &__title {
    grid-column: 11 span;
  }
  &__btn {
    padding: 20px;
  }
  &__slider {
    grid-column: 1/12;
    order: 3;
  }
}
