.oferta {
  margin-bottom: 70px;

  &__container {
    display: grid;
    grid-template-areas:
    "title btn"
    "slider slider";
    grid-gap: 25px;
    grid-template-columns: 1fr 77px;
  }

  &__title {
    grid-area: title;
  }

  &__slider {
    width: 100%;
    grid-area: slider;
  }

  &__card {
    display: flex;
    flex-direction: column;
    max-width: 296px;
    border-radius: 10px;
    background: $gray-light;
    padding: 39px 30px 30px;
    position: relative;

    &-big {
      max-width: 624px;
    }
  }
}

@media (max-width: $table-h) {
  .oferta {
    &__card {
      max-width: 100%;
      padding: 66px 20px 30px;
    }

  }
}

@media (max-width: $table) {
  .oferta {
    &__card {
      padding-top: 70px;
    }

  }
}

@media (max-width: $mobile) {
  .oferta {
    &__container {
      grid-template-areas: "title"
      "slider"
      "btn";
      grid-template-columns: 1fr;
      grid-gap: 26px;
    }

    &__card {
      padding-top: 68px;
    }

    &__btn {
      margin: 0 auto;
      max-width: 77px;
      width: 100%;
      padding-top: 22px;
    }
  }
}
