.promo {
  background: url("../images/promo-1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 71px;
  padding: 160px 0 151px;
  background-color: $gray;
  &__title {
    margin: 0 0 6px;
    padding: 0;
    font-size: 60px;
    font-family: 'Playfair Display', Arial;
    font-weight: 900;
    line-height: 1;
    color: $gold;
  }
  &__subtitle {
    max-width: 500px;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 48px;
    color: $white;
  }
  &__btn {
    padding: 18px 0;
  }
}

@media (max-width: $table-h) {
  .promo {
    background: url('../images/promo-1-1024.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 150px;
    margin-bottom: 70px;
    &__btn {
      @include pv19;
    }
  }
}

@media (max-width: $table) {
  .promo {
    background: url('../images/promo-1-768.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 150px;
    &__container {
      padding: 0 36px;
    }
  }
}

@media (max-width: $table-m) {
  .promo {
    &__container {
      padding: 0 15px;
    }
    &__btn {
      max-width: 100%;
    }
  }
}

@media (max-width: $mobile) {
  .promo {
    background: url('../images/promo-1-320.jpg') top center/100% 62.7% no-repeat;
    padding: 32px 0;
    margin-bottom: 38px;
    &__container {
      padding: 0 12px;
    }
    &__title {
      @include fs24;
      margin: 0 0 5px;
    }
    &__subtitle {
      font-size: 16px;
      line-height: 19px;
      max-width: 200px;
      margin-bottom: 143px;
    }
  }
}
