.rating {
  margin-bottom: 70px;
  &__cards {
    display: flex;
    flex-direction: column;
    .card__img {
      margin-bottom: 14px;
      height: 125px;
      object-fit: contain;
      object-position: bottom;
    }
  }
  &__title {
    grid-column-start: 1;
    grid-column-end: 4 span;
    margin-bottom: 27px;
  }
  &__btn {
    max-width: 296px;
    margin: 0 auto;
    @include pv19;
  }
}

@media (max-width: $table-h) {
  .rating {
    &__btn {
      padding: 19px 0;
    }
    &__cards {
      .card__img {
        margin-bottom: 16px;
      }
    }
  }
}

@media (max-width: $table) {
  .rating {
    &__cards {
      .card__img {
        margin-bottom: 20px;
      }
    }

    &__title {
      margin-bottom: 28px;
    }
    &__btn {
      @include pv19;
      &-card {
        @include pv10;
      }
    }
  }
}

@media (max-width: $mobile) {
  .rating {
    &__title {
      margin-bottom: 27px;
    }
    &__cards {
      .card__img {
        height: 73px;
        object-position: center;
        margin-bottom: 1px;
      }
    }
  }
}
