.rating {
  margin-bottom: 70px;
  &__cards {
    display: flex;
    flex-direction: column;
  }
  &__title {
    grid-column-start: 1;
    grid-column-end: 4 span;
    margin-bottom: 27px;
  }
  &__btn {
    max-width: 296px;
    margin: 0 auto;
    @include pv19;
    //&-card {
    //  padding-top: 17px;
    //  padding-bottom: 17px;
    //}
  }
}

@media (max-width: $table-h) {
  .rating {
    &__btn {
      padding: 19px 0 18px;
    }
  }
}

@media (max-width: $table) {
  .rating {
    &__title {
      margin-bottom: 28px;
    }
    &__btn {
      @include pv19;
      &-card {
        @include pv10;
      }
    }
  }
}

@media (max-width: $mobile) {
  .rating {
    &__title {
      margin-bottom: 25px;
    }
  }
}
