section.contact
  .container.contact__container
    h2.contact__title.container__title Мы всегда вам рады!
    p.contact__description Безусловно, новая модель организационной деятельности в значительной степени обусловливает важность распределения внутренних резервов и ресурсов.
      button.contact__toltip
    form.contact__form
      input.container__input
      input.container__input
      input.container__input
      button.btn__primary.contact__btn
      label.contact__label
        input.contact__check.castom__check
        span.contact__check-description Принимаю
          a.contact__link(href='#') пользовательское соглашение

