section.contact
  .container.contact__container
    h2.contact__title.container__title Мы всегда вам рады!
    p.contact__description Безусловно, новая модель организационной деятельности в значительной степени обусловливает важность распределения внутренних резервов и ресурсов.
      button.contact__toltip
    form.contact__form
      input.contact__input(placeholder="Как вас зовут?" name="name" type="text")
      input.contact__input(placeholder="Ваш телефон" name="phone" type="tel")
      input.contact__input(placeholder="Ваш e-mail" name="email" type="email")
      button.btn__primary.contact__btn Отправить
      label.contact__label
        input.contact__check.castom__check(type="checkbox" checked="true")
        span.contact__check-description Принимаю
          a.contact__link(href='#')  пользовательское соглашение

