section.oferta
  .container.oferta__container
    h2.oferta__title.container__title Специальные предложения
    .oferta__btn.btn__slider
      .swiper-button-prev.oferta__button-prev.btn__slider-prev
      .swiper-button-next.oferta__button-next.btn__slider-next
    .swiper.oferta__slider
      .swiper-wrapper.oferta__slides
        article.swiper-slide.oferta__card.card
          span.card__discont - 9 000
          picture.card__picture
            img.card__img(src="images/oferta-1.png" alt="Кресло велюровое 'X-24'")
          .card__bottom
            .card__left
              h3.card__title Кресло велюровое “X-24”
              .card__price
                span.card__price-new 15 990 руб
                span.card__price-old 24 990 руб
              a.btn__border(href="#") Купить
        article.swiper-slide.oferta__card.oferta__card-big.cart
          span.card__discont - 10 000
          picture.card__picture
            img.card__img(src="images/oferta-2.png" alt="Диван тканевый 'Z-44'")
          .card__bottom
            .card__left
              h3.card__title Диван тканевый “Z-44”
              .card__price
                span.card__price-new 22 990 руб
                span.card__price-old 32 990 руб
              a.btn__border(href="#") Купить
            .card__right
              picture.cart__picture-bottom
                img.card__img-bottom(src="images/oferta-sch-2.png" alt="Диван тканевый 'Z-44' схема")
        article.swiper-slide.oferta__card.card
          span.card__discont - 600
          picture.card__picture
            img.card__img(src="images/oferta-3.png" alt="Будильник  'Quartz-23'")
          .card__bottom
            .card__left
              h3.card__title Будильник  “Quartz-23”
              .card__price
                span.card__price-new 1 290 руб
                span.card__price-old 1 890 руб
              a.btn__border(href="#") Купить
        article.swiper-slide.oferta__card.card
          span.card__discont - 300
          picture.card__picture
            img.card__img(src="images/oferta-4.png" alt="Мини-скульптура 'Oh my deer'")
          .card__bottom
            .card__left
              h3.card__title Мини-скульптура “Oh my deer”
              .card__price
                span.card__price-new 690 руб
                span.card__price-old 990 руб
              a.btn__border(href="#") Купить
        article.swiper-slide.oferta__card.oferta__card-big.cart
          span.card__discont - 10 000
          picture.card__picture
            img.card__img(src="images/oferta-5.png" alt="Диван вел-флок 'Z-85'")
          .card__bottom
            .card__left
              h3.card__title Диван вел-флок “Z-85”
              .card__price
                span.card__price-new 22 990 руб
                span.card__price-old 32 990 руб
              a.btn__border(href="#") Купить
            .card__right
              picture.cart__picture-bottom
                img.card__img-bottom(src="images/oferta-sch-5.png" alt="Диван вел-флок 'Z-85' схема")
        article.swiper-slide.oferta__card.card
          span.card__discont - 700
          picture.card__picture
            img.card__img(src="images/oferta-6.png" alt="Термометр + гидрометр 'H-18'")
          .card__bottom
            .card__left
              h3.card__title Термометр + гидрометр “H-18”
              .card__price
                span.card__price-new 1 390 руб
                span.card__price-old 2 090 руб
              a.btn__border(href="#") Купить
