section.rating
  .rating__container.container
    h2.rating__title.container__title Высокий рейтинг
    .rating__cards.card
      ul.card__list
        li.card__wrap
          article.card__item
            span.card__rating
            picture.card__picture
              img.card__img(src="./image/product-1.png")
            h2.card__title

