section.rating
  .rating__container.container
    h2.rating__title.container__title Высокий рейтинг
    .rating__cards.card
      ul.card__list.card__list--rating
        li.card__wrap
          article.card__item.card__item--rating
            span.card__rating 5.0
            picture.card__picture.card__picture--rating
              img.card__img(src="./images/product-1.png")
            .card__discription
              h3.card__title.card__title--rating Диван кожаный <br>“R-94”
              .card__price
                span.card__price-rating 94 990 руб
              a.card__btn.card__btn--rating(href="#") Купить
        li.card__wrap
          article.card__item.card__item--rating
            span.card__rating 4.9
            picture.card__picture.card__picture--rating
              img.card__img(src="./images/product-2.png")
            .card__discription
              h3.card__title.card__title--rating Диван апартековый <br>“T-75”
              .card__price
                span.card__price-rating 69 990 руб
              a.card__btn.card__btn--rating(href="#") Купить
        li.card__wrap
          article.card__item.card__item--rating
            span.card__rating 4.8
            picture.card__picture.card__picture--rating
              img.card__img(src="./images/product-3.png")
            .card__discription
              h3.card__title.card__title--rating Диван тканевый <br>“D-31”
              .card__price
                span.card__price-rating 28 490 руб
              a.card__btn.card__btn--rating(href="#") Купить
        li.card__wrap
          article.card__item.card__item--rating
            span.card__rating 4.8
            picture.card__picture.card__picture--rating
              img.card__img(src="./images/product-4.png")
            .card__discription
              h3.card__title.card__title--rating Диван велюровый <br>“Y-68”
              .card__price
                span.card__price-rating 22 990 руб
              a.card__btn.card__btn--rating(href="#") Купить
        li.card__wrap
          article.card__item.card__item--rating
            span.card__rating 4.8
            picture.card__picture.card__picture--rating
              img.card__img(src="./images/product-5.png")
            .card__discription
              h3.card__title.card__title--rating Диван из шинила <br>“W-95”
              .card__price
                span.card__price-rating 94 990 руб
              a.card__btn.card__btn--rating(href="#") Купить
        li.card__wrap
          article.card__item.card__item--rating
            span.card__rating 4.8
            picture.card__picture.card__picture--rating
              img.card__img(src="./images/product-6.png")
            .card__discription
              h3.card__title.card__title--rating Диван флоковый <br>“G-41”
              .card__price
                span.card__price-rating 17 990 руб
              a.card__btn.card__btn--rating(href="#") Купить
        li.card__wrap
          article.card__item.card__item--rating
            span.card__rating 4.8
            picture.card__picture.card__picture--rating
              img.card__img(src="./images/product-7.png")
            .card__discription
              h3.card__title.card__title--rating Диван шиниловый <br>“V-43”
              .card__price
                span.card__price-rating 19 990 руб
              a.card__btn.card__btn--rating(href="#") Купить
        li.card__wrap
          article.card__item.card__item--rating
            span.card__rating 4.7
            picture.card__picture.card__picture--rating
              img.card__img(src="./images/product-8.png")
            .card__discription
              h3.card__title.card__title--rating Диван велюровый <br>“S-99”
              .card__price
                span.card__price-rating 19 990 руб
              a.card__btn.card__btn--rating(href="#") Купить
      button.rating__btn.btn__primary Смотреть больше товаров
