section.special
  .container.special__container
    h2.container__title.special__title Полезное
    .special__btn.btn__slider
      .swiper-button-prev.special__button-prev.btn__slider-prev
      .swiper-button-next.special__button-next.btn__slider-next
    .swiper.special__slider
      .swiper-wrapper.special__slides
        article.swiper-slide.special__card
          picture.special__picture
            img.special__img(srcset="images/special-1.jpg")
          h3.special__text И нет сомнений, что сделанные на базе интернет‑аналитики выводы представляют собой не что иное?
          button.btn__border.special__btn Читать
        article.swiper-slide.special__card
          picture.special__picture
            img.special__img(srcset="images/special-2.jpg")
          h3.special__text Как принято считать, некоторые особенности приносят несомненную пользу обществу?
          button.btn__border.special__btn Читать
        article.swiper-slide.special__card
          picture.special__picture
            img.special__img(srcset="images/special-3.jpg")
          h3.special__text Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
          button.btn__border.special__btn Читать
        article.swiper-slide.special__card
          picture.special__picture
            img.special__img(srcset="images/special-4.jpg")
          h3.special__text Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
          button.btn__border.special__btn Читать
        article.swiper-slide.special__card
          picture.special__picture
            img.special__img(srcset="images/special-5.jpg")
          h3.special__text Как принято считать, некоторые особенности приносят несомненную пользу обществу?
          button.btn__border.special__btn Читать
