<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "sdp.ru | Каталог"
    link(rel="icon" type="image/png" href="/favicon.ico")
    link(rel="stylesheet", href="./choices.min.css")
    link(rel="stylesheet", href="./swiper-bundle.min.css")
    link(rel="stylesheet", href="./styles/main.css")
    script(src='./choices.min.js' defer)
    script(src='./swiper-bundle.min.js' defer)
    script(src='./popper.min.js' defer)
    script(src='./tippy-bundle.umd.min.js' defer)
    script(src='./app.js' defer)
  body
    include ./html/header.pug
    include ./html/catalog.pug
    include ./html/footer
