<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "sbp.ru"
    link(rel="stylesheet", href="./choices.min.css")
    script(src='/choices.min.js' defer)
    script(src="./app.js" defer)
    link(rel="stylesheet", href="./styles/main.css")
  body
    include ./html/header.pug
